.img-responsive {
	width: 100%;
	height: auto
}

.alternate-1-text-1{ text-align: right}

.alternate-2{
	margin-top: 20px
}

.alternate-2-text-1{
	margin-top: 20px
}
.alternate-2-text-1 h2{ font-family: 'Lato', sans-serif; font-size: 49px; line-height: 70px; margin-bottom: 25px;}
.alternate-2-text-1 h3{ font-family: 'Lato', sans-serif; font-size: 25px}
.alternate-1-img-1{
	/*height: 500px;*/
	/*background: tomato*/
}

.alternate-2-img-1{
	/*height: 800px;
	background: tomato*/
}

.team{
	margin-top:100px
}



.team-1 h4{
	transform: rotate(270deg);
	position: absolute;
	top: 40%;
	left: 0;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	
}

.team-1 p{
	position: absolute;
	top: 30%;
	left: 0;
	font-family: 'Montserrat', sans-serif;
}

.team-1 h3{
	position: absolute;
	top: 35%;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}

.team-1-img{
	height: 380px;
	/*background: tomato*/
}

.team-2-img{
	width: 90%;
	height: 380px;
	/*background: tomato*/
}

.team-3-img{
	width: 80%;
	height: 380px;
	/*background: tomato;*/
	margin-left: -50px
}

.team-2 h3{
	position: absolute;
	top: 30%;
	left: -30px;
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
}

.team-2 h4{
	position: absolute;
	top: 40%;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	
}

.team-2 p{
	position: absolute;
	top: 40%;margin-left: -15px
	
}

.team-3 h3{
	transform: rotate(270deg);
	position: absolute;
	top: 30%;
	left: -15%;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	
}



.team-3 h4{
	position: absolute;
	top: 28%;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	
}

.team-3 p{
	position: absolute;
	top: 40%;
	
}

.team-end{
	/*min-height: 500px;
	background: tomato*/
}

.behind-mg{ margin-top: 150px}
/*Responsive*/
@media (max-width: 1024px){
	.team-3 h3{ left: -30%;}
	.team-2 p{ margin-left: 45px;}
	.team-2 h4{ margin-left: 10px;}
	.team-1-img { margin-left: 15px}
	.team-3-img { margin-left: 0px}
}

@media (max-width: 768px){
	.team-1-img{margin-right: -100px; margin-left: 50px; }
	.team-1 h4 { left: 52%; margin-top: -50px; }
	.team-1 h3{  margin-top: -50px}
	.team-1 p{     margin-top: -100px;}
	.team-2-img{ width:100%;     margin-top: -85px;}
	.team-2 h3{ left: 30px; top: -15%}
	.team-2 h4{ left: -70%; top: 23%}
	.team-2 p{ margin-left: 0px; top: -28%;}
	.team-3-img{ margin-left: 20px; width:100%; margin-top: -127px}
	.team-3 h4{ margin-left: 30px;     top: -39%;}
	.team-3 p{ margin-left: 30px;     top: -25%;}
	.team-3 h3{     top: -15%;}
	.alternate-1-text-1 { text-align: left; }
	.alternate-2-text-1 h2 { font-family: 'Lato', sans-serif; font-size: 46px; line-height: 70px; margin-bottom: 25px; }
}

@media (max-width: 414px) {
	.alternate-1-text-1{ text-align: left; margin-top: 600px; z-index: 5; }
	.alternate-1-text-1 #text1 p{ margin-top: 100px;}
	.alternate-mg1{ margin-top: -390px;}
	.alternate-1-img-1 img{margin-top: -1150px;}
	.alternate-2{ margin-top: 0px}
	.team-1-img{ margin: 0; width: 100%}
	.team-1 h4{ left: 0;}
	.team-1-h3{ margin-bottom: -1000px; text-align: center}
	.team-1-h3 h3{ margin-left: 85px;font-size: 40px;margin-top: 230px;}
	.team-1-h4{ margin-top: 80px; }
	.team-1-h4 h4{ transform: none; margin-left: 165px; margin-top: 160px;}
	.team-1-p p{ margin-top: 160px; left:0;}
	.team-1-p{ margin: 35px 30px 95px 40px}
	.team-2 h4{ left: 22%;     margin-top: 60px;}
	.team-2-h3 h3{ margin-top: 90px; font-size: 40px; margin-left: 19px;}
	.team-2-h4{ margin-top: 70px; margin-left: 75px;}
	.team-2 p{ margin-top: 45px}
	.team-2-p{ width: 85%; margin: 50px auto}
	.team-2-p{ margin-bottom: 90px}
	.team-3 h3{ margin-bottom: -600px; margin-top: 940px; transform: none; margin-left: 130px;text-align: center; font-size: 40px;}
	.team-2-img{ margin-top: 280px; width: 100%;} 
	.team-3-img{ margin-top: 165px; width: 100%; margin-left: 0}
	.team-3-h3{ margin-bottom: -1650px; margin-left: 20px; }
	.team-3-text h4{ margin-top: 185px; margin-left: 95px;}
	.team-3-text p{ margin-top: 225px; margin-left: 25px; width: 80%;}
	.behind-mg{ margin-top: 380px}
}



@media (max-width: 375px) {
	.alternate-1-text-1{ text-align: left; margin-top: 600px; z-index: 5; }
	.alternate-1-text-1 #text1 p{ margin-top: 100px;}
	.alternate-mg1{ margin-top: -390px;}
	.alternate-1-img-1 img{margin-top: -1250px;}
	.alternate-2{ margin-top: 0px}
	.team-1-img{ margin: 0; width: 100%}
	.team-1 h4{ left: 0;}
	.team-1-h3{ margin-bottom: -1000px; text-align: center}
	.team-1-h3 h3{ margin-left: 61px;font-size: 40px;margin-top: 170px;}
	.team-1-h4{ margin-top: 80px; }
	.team-1-h4 h4{ transform: none; margin-left: 140px; margin-top: 100px;}
	.team-1-p p{ margin-top: 100px; left:0}
	.team-1-p{ margin: 35px 30px 120px 40px}
	.team-2 h4{ left: 19%;     margin-top: 10px;}
	.team-2-h3 h3{ margin-top: 42px; font-size: 40px;margin-left: 0px;}
	.team-2-h4{ margin-top: 70px; margin-left: 75px;}
	.team-2 p{ margin-top: -15px}
	.team-2-p{ width: 85%; margin: 60px auto}
	.team-3 h3{ margin-bottom: -600px; margin-top: 865px; transform: none; margin-left: 100px;text-align: center; font-size: 40px;}
	.team-2-img{ margin-top: 240px; width: 100%;}
	.team-3-img{ margin-top: 135px; width: 100%; margin-left: 0}
	.team-3-h3{ margin-bottom: -1650px; margin-left: 20px; }
	.team-3-text h4{ margin-top: 145px; margin-left: 80px;}
	.team-3-text p{ margin-top: 185px; margin-left: 25px; width: 80%;}
	.behind-mg{ margin-top: 380px}
}

@media (max-width: 320px){ 
	.info-footer-logo img{
	width: 250px;    margin-bottom: -30px;
}
	.icon-menu:before{margin-right: -10px;}
	
	.topnav input[type=text]{     font-size: 13px;}
	.topnav input[type=text] {
    width: 140%;
}
	
	.topnav .search-container button {
    margin-right: -120px;padding: 9.5px 25px;
}

.team-1-h3 h3 {
    margin-left: 38px;
    font-size: 40px;
    margin-top: 90px;
}	
.team-1-h4 h4{ transform: none; margin-left: 115px; margin-top: 20px;}	
.team-1-p p{ margin-top: 20px; left:0; margin-bottom: 10px}	
.team-2-img{ margin-top: 180px; width: 100%;}	
.team-2-h3 h3{ margin-top: -25px; font-size: 38px;margin-left: -20px;}	
.team-2 h4 { left: 12%; margin-top: -60px;}	
.team-2 p { margin-top: -60px; margin-left: -85px; }	
.team-3-img{ margin-top: 90px; width: 100%; margin-left: 0}	
.team-3 h3 { margin-bottom: -600px; margin-top: 740px; transform: none; margin-left: 65px; text-align: center; font-size: 38px; }	
.team-3-text h4 { margin-top: 110px; margin-left: 55px; }	
.team-3-text p { margin-top: 150px; margin-left: 15px; }
	.topnav input[type=text]{ font-size: 13px;}
	.topnav input[type=text] {width: 140%;}
	.topnav .search-container button {margin-right: -120px;padding: 9.5px 25px;}}
