/* Basic sample */

body{
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}
.container-z{ background: none}
.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container-z{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:1200px;
	height:600px;
	left:-600px;
	top:-300px;
}

.flipbook-viewport .page{
	width:600px;
	height:600px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:1200px;
	height:600px;
	background-size:100% 100%;
}


.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}



@media (max-width: 1024px){
	.container-z{ width: 50%}
	.flipbook-viewport .container-z{
	position:absolute;
	top:80%;
	left:50%;
}
	
.flipbook-viewport .flipbook{
	width:1000px;
	height:500px;
	left:-500px;
	top:-300px;
}

.flipbook-viewport .page{
	width:500px;
	height:500px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:1000px;
	height:500px;
	background-size:100% 100%;
}
}

@media (max-width: 812px){
	
.flipbook-viewport .flipbook{
	width:700px;
	height:350px;
	left:-350px;
	top:-175px;
}

.flipbook-viewport .page{
	width:350px;
	height:350px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:700px;
	height:350px;
	background-size:100% 100%;
}
}


@media (max-width: 768px){
	
.flipbook-viewport .flipbook{
	width:700px;
	height:350px;
	left:-350px;
	top:-300px;
}

.flipbook-viewport .page{
	width:350px;
	height:350px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:700px;
	height:350px;
	background-size:100% 100%;
}
}

@media (max-width: 736px){
.flipbook-viewport .flipbook{
	width:700px;
	height:350px;
	left:-350px;
	top:-180px;
}

.flipbook-viewport .page{
	width:350px;
	height:350px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:700px;
	height:350px;
	background-size:100% 100%;
}
}

@media (max-width: 568px){
.flipbook-viewport .flipbook{
	width:550px;
	height:275px;
	left:-275px;
	top:-140px;
}

.flipbook-viewport .page{
	width:275px;
	height:275px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:550px;
	height:275px;
	background-size:100% 100%;
}
}


@media (max-width: 480px){
.flipbook-viewport .flipbook{
	width:400px;
	height:200px;
	left:-200px;
	top:-200px;
}

.flipbook-viewport .page{
	width:200px;
	height:200px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:400px;
	height:200px;
	background-size:100% 100%;
}
}

@media (max-width: 375px){
.flipbook-viewport .flipbook{
	width:350px;
	height:175px;
	left:-175px;
	top:-50px;
}

.flipbook-viewport .page{
	width:175px;
	height:175px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:350px;
	height:175px;
	background-size:100% 100%;
}
}

@media (max-width: 320px){
.flipbook-viewport .flipbook{
	width:300px;
	height:150px;
	left:-150px;
	top:-50px;
}

.flipbook-viewport .page{
	width:150px;
	height:150px;
	/*background-color:white;*/
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:300px;
	height:150px;
	background-size:100% 100%;
}
}

/*modal*/
#top-login-overlay, 
#top-login-modal {
    display: none;
    position: fixed;
	
}
#top-login-modal span {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 30px;
}
#top-login-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 998;
}
#top-login-modal {
    left: 50%;
    max-width: 600px;
    top: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 999;
}
.top-login{ margin-right: -100px; z-index: 100000}  
.top-login { cursor: pointer}