.slide.active
  .card
    .card__img#img01 
    .card__content 
      p.card__content-theme Travel
      h2.card__content-header Misty mountain
      p.card__content-paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta porro, tempora consequuntur vel dolore assumenda aspernatur cum dignissimos unde reprehenderit sint? Neque, id consequuntur. Quibusdam sit officiis debitis corrupti. Quasi.
      a.card__content-link Read  
      
.slide   
  .card
    .card__img#img02
    .card__content 
      p.card__content-theme Urban
      h2.card__content-header Urban umbrellas
      p.card__content-paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta porro, tempora consequuntur vel dolore assumenda aspernatur cum dignissimos unde reprehenderit sint? Neque, id consequuntur. Quibusdam sit officiis debitis corrupti. Quasi.
      a.card__content-link Read  
      
.slide   
  .card
    .card__img#img03
    .card__content 
      p.card__content-theme Lifestyle
      h2.card__content-header A lonely road
      p.card__content-paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta porro, tempora consequuntur vel dolore assumenda aspernatur cum dignissimos unde reprehenderit sint? Neque, id consequuntur. Quibusdam sit officiis debitis corrupti. Quasi.
      a.card__content-link Read  
    
div.prevnext
  button.prevnext-button#prev
  button.prevnext-button#next  