@font-face {
    font-family: 'pistilli';
    src: url('../Pistilli-Roman.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Pistilli Regular';
font-style: normal;
font-weight: normal;
src: local('Pistilli Regular'), url('../Pistilli-Roman.woff') format('woff');
}

.style-price{ font-size: 33px; font-weight: 700; /* margin-top: -20px; */ color: #5d5d5d;}
.style-name-package{ font-family: 'Playfair Display', serif;; color: #ff6f61; font-weight: bold; margin-bottom: -18px; font-size: 27px;}
.style-btn{ margin-top: 30px; padding: 12px 28px; background: #ff6f61; font-size: 15px; font-weight: 500; color: #fff; margin-top: 30px}
.style-btn a{ color: #fff}
.set-seemore { padding-bottom:45px; }
.set-seemore a{ margin-top: 30px; padding: 12px 28px; background: #ff6f61; font-size: 15px; font-weight: 500; color: #fff;}
.set-seemore a{ color: #fff; margin-top: 30px; /*box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);*/}
.style-checked{ margin-bottom: 7px}
.set-seemore a:hover {background: #ff7c6f;}
.set-1 { font-family: 'Lato', sans-serif; padding-top: 15px;}
.check-mgb{ margin-bottom: 10px}

/*.new-content-img-1{ background: tomato; height: 250px}*/
.new-content-img-1{ margin-bottom: 30px}
.content1-text h3{ font-family: 'Playfair Display', serif;; color: #ff6f61; font-weight: bold; font-size: 40px;    padding-bottom: 8px;}
.content1-text h4{ padding-bottom: 8px; font-sá»‰ze: 25px}
.content1-text span{ color: #ff6f61}
.site-navbar .site-navigation .site-menu#packages-page > li > a {
	font-family: 'Playfair Display', serif;
	font-size: .95rem;
	letter-spacing: 0.2em;
	line-height: 1.4em;
	text-transform: none;
	font-weight: normal;
	padding: 10px 22px;
	text-transform: uppercase;
	color: #4d4d4d;
	text-decoration: none !important;
}

/*.site-navbar .site-navigation .site-menu#packages-page > li > a:hover {
color: #df6144
}*/

.site-menu[data-class="social-pakages"] a{
	color: #df6244;
}

.site-menu[data-class="social-pakages"] a:hover{
	text-decoration: none !important;
	/*color: #df6144*/
}

.cover-mg{
	margin-top: 0px
}

.name-page h2{
	font-family: 'Playfair Display', serif;
	/*font-family: 'Pistilli Regular';*/
	font-weight:300;
	font-style: normal;
	font-size: 64px;
	line-height: 85px;
}

.name-page p{
	/*font-family: Helvetica;*/
	font-size: 18px;
}

.breadcrumb{
	background: none;
	text-align: center !important;;
	align-content: center !important;;
	justify-content: center !important;;
}

.breadcrumb a{
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.breadcrumb a:hover{
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-decoration: none !important;
}

.breadcrumb-item+.breadcrumb-item:before{
	color: #fff;
}

.count
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}


.content1-text a{
	font-family: 'Lato', sans-serif;
}

.content1-text a:hover{
	text-decoration: none
}

.content1-img-1{
	height: 245px; /*background: tomato;*/
}

.content1-img-2{
	height: 195px; /*background: tomato;*/ margin-left:-15px
}

.content1-img-3{
	height: 250px; /*background: tomato;*/ margin-top:15px
}

.content1-img-4{
	height: 300px; /*background: tomato ;*/margin-top:-35px;margin-left:-15px
}


@media (max-width:1024px){
	.content1-img-3 { margin-top:-25px}
	.content1-img-4 { margin-top: -65px}
}

@media (max-width:768px){
	.content1-img-1{ margin-right: -7.5px}
	.content1-img-2{ margin-left: -7.5px}
	.content1-img-3 { margin-top:-80px; margin-right: -7.5px}
	.content1-img-4 { margin-top: -115px; margin-left: -7.5px}
}

@media (max-width:414px){
	.content1-img-1{ margin-right: -7.5px}
	.content1-img-2{ margin-left: -7.5px}
	.content1-img-3 { margin-top:-55px; margin-right: -7.5px}
	.content1-img-4 { margin-top: -97px; margin-left: -7.5px}
}

@media (max-width:375px){
	.content1-img-1{ margin-right: -7.5px}
	.content1-img-2{ margin-left: -7.5px}
	.content1-img-3 { margin-top:-70px; margin-right: -7.5px}
	.content1-img-4 { margin-top: -110px; margin-left: -7.5px}

}


/*.content1-img-1 img{
	width: 100%;
}*/



.set-img { 
	min-height:100px;
	background: tomato
}

.set-img img{
	width: 100%;
	height: auto
}

.set-seemore a{
	color: #fff
}

.set-seemore a:hover{
	text-decoration: none
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #df6244
}

.item{
	background: #fff;
	
}

.set{
	position: relative;
	
}

.set:before, .set:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #C5C5C5;
  -webkit-box-shadow: 0 15px 10px #C5C5C5;
  -moz-box-shadow: 0 15px 10px #C5C5C5;
  box-shadow: 0 15px 10px #C5C5C5;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.set:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*.item-shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}*/
.icon-menu:before{
	color: #4d4d4d;
}


/*Counter*/
.c-no{height:200px; background-image: url('images/big-images/nature_big_8.jpg')}
.grey-bg{background:#ebebeb;}
.counter-Txt{text-align:center;text-transform:uppercase; margin-top:60px;}
.counter-Txt p{font-size:15px; font-family: 'Lato', sans-serif; letter-spacing: 3px}
.counter-Txt h3{font-size:30px; font-weight:600; font-family: montserrat}
.counter-Txt span{font-size:36px}
@media(min-width:320px) and (max-width:767px){ 
.c-no{height:100%;}
.counter-Txt{margin-top:35px;}
.margin-bot-35{margin-bottom:35px;}
}

@media (max-width: 768px) {
	.c-no{
		margin-bottom: 80px
	}
	
}

/*Scroll for More*/

.hero__scroll-packages {
	position: absolute;
	bottom: 230px;
	width: 200px;
	margin: auto;
	display: block;
	cursor: pointer;
	padding-bottom: 40px;
	left: 3%;
	right: 0;
	text-transform: uppercase;
}
.hero__scroll-packages .chevron-packages {
	margin-top: 20px;
	display: block;
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
	color: #fff;
}


.hero__scroll-packages p{
	color: #fff;
	font : normal 300 0.8125rem/1 'Lato', sans-serif;;
	letter-spacing: .1em;
	text-decoration: none;
	margin-bottom: -45px;
}

.chevron-packages::before{
	-webkit-animation: sdb05 1.5s infinite;
	animation: sdb05 1.5s infinite;
}
.chevron-packages::before {
	border-left: 1.2px solid #fff;
	border-bottom: 1.2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	content: '';
	display: inline-block;
	height: 10px;
	position: absolute;
	vertical-align: top;
	width: 10px; left: 34%;}

.chevron-packages{
	left: 500px
}

.set sup{ top: -1.3em}
.set-include{
	text-align: left
}
.set-include-mg{
	margin-left: 65px
}
.set-include span{
	margin-right: 5px
}

.site-mobile-menu .site-nav-wrap[data-class="social-pakages"] {
	float: left;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class="social-pakages"] > li {
	width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class="social-pakages"] > li:first-child a {
	padding-left: 15px !important;
}

/*Slick Slider*/
.slick span {
  display: block;
  background: #fff;
  min-height: 100px;
  position: relative;
  text-align: center;
  transform: translate(0, 0) scale(0.4);
  transition: all .4s ease;
  opacity: .5;
}

.slick-slide {
  /*border: solid 1px #2dc37f;*/
}

.slick-slide.lt2 span {
  transform: translate(10%, 0) scale(0.6);
}

.slick-slide.lt1 span {
  opacity: .7;
  transform: translate(5%, 0) scale(0.8);
}

.slick-slide.gt1 span {
  opacity: .7;
  transform: translate(-5%, 0) scale(0.8);
}

.slick-slide.gt2 span {
  transform: translate(-10%, 0) scale(0.6);
}

.slick-slide.slick-center span {
  z-index: 1;
  transform: scale(1);
  opacity: 1;
  /*color: #e67e22;*/
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  appearance: none;
  margin-top: -10px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  color: transparent;
  outline: none;
  z-index: 100;
}

.slick-prev {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #999 transparent transparent;
  left: 0;
}

.slick-prev:hover {
	width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;left: 0;
  border-color: transparent #ff6f61 transparent transparent;
}
.slick-next:hover {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #ff6f61;
  right: 0;
}

.slick-next {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #999;
  right: 0;
}






/*Responsive*/
@media (max-width: 768px){
	.hero__scroll-packages{ display: none}
}

@media (max-width: 480px){
	.hero__scroll-packages{ display: none; top: 90%; margin-left: 100px;}
	.sets-text-mg{ margin-top: 30px}
	.hero__scroll{ display: none}
	
}