h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	line-height: 50px;
}
.img-responsive{ width: 100%; height: auto}
.item-content-1{ height: 250px; background: tomato; color: #fff; line-height: 100px}

.content-2{ postion: relative}
.content-2-img{ height: 500px; background: tomato; z-index: 1}
.content-2-text{ height: 350px; background: #fff; postion: absolute; z-index: 2; left: 35%; margin-top: -425px;}
/*.content-2-text h3{ margin-top: 30px}*/
.content-2-text{ padding: 30px; box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);}

.content-3-img{ height: 250px; /*background: tomato;*/}
.content-3-text{ text-align: right}

@media (max-width: 1024px){
	.content-2-text{ margin-bottom: 90px}
	.content-2-text{ min-height: 350px}
}

@media (max-width: 768px){
	.content-2-text{ min-height: 450px}
}

@media (max-width: 480px){
	.content-2-text{ margin-bottom: 0px; width: 90%; left: 8%; margin-top: -250px;}
	.content-3-text { text-align: left; margin-top: 150px; }
	.content-2-text{ min-height: 550px}
}

@media (max-width: 375px){
	.content-3-text { text-align: left; margin-top: 110px; }
	.content-2-text{ min-height: 590px}
}

@media (max-width: 320px){
	.name-page h2{font-size: 59px;}
	.content-3-text { text-align: left; margin-top: 60px; }
	.content-2-text{ min-height: 700px}
}
